body {
    background-image: url("../images/landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 120%;
    background-position: center;
}

#chat_content {
    text-align: center;
    margin-top: 3em;
    font-weight: bold;
    font-size: 2.0em;
}


#content {
    text-align: center;
    margin: 0 auto;
    display: block;
}

#students-heading{ 
    margin-top: 4em;
    text-align: center;
}

#message {
    margin-top: 6em;
}

#buttons {
    margin-top: 2em;
}

#msg {
    border-radius: 25px;
}

#send {
    border-radius: 25px;
    background-color: lightgreen;
    margin-right: 5.0em;
}

#getChat {
    border-radius: 25px;
    background-color: lightgreen;
}