body {
    background-image: url("../images/landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#chat_content {
    text-align: center;
    margin-top: 3em;
    font-weight: bold;
    font-size: 2.0em;
}

#welcome {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-style: italic;
}

#content {
    text-align: center;
    margin: 0 auto;
    display: block;
}

#name {
    font-size: 0.3em;
}

#students-heading{ 
    margin-top: 4em;
    text-align: center;
}

#message {
    margin-top: 6em;
}